body{
font-family: 'Zen Loop', cursive;
background-color: rgb(255, 255, 255);
}

.header_div{
background-color: rgb(255, 239, 239);
color: lightcoral;
}

.header_div img{
    width: 100px;
    background-color: transparent;
}

.main_div
{
    background-image: url(https://i.pinimg.com/564x/57/df/d8/57dfd894d87565e71813c75397f4d55b.jpg);
    padding: 10px;
    margin-top: 15px;
    border: 3px solid floralwhite;
}

.main_div label
{
color: white;
font-size:larger;
 width: 310px;
 padding: 10px;
 margin-bottom: 0px;
 box-shadow: 5px 5px 18px white;
}
 
#camera, #result
{
    border: 3px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}

.main_div button{
    width:310px;
    box-shadow: 5px 5px 18px white;
}

.footer_div
{
    background-color: gainsboro;
    margin-bottom: 50px;
}

.footer_div h4
{
    border-radius: 10px solid white;
    padding: 5px;
    box-shadow: 5px 5px 18px white
}

.footer_div img
{
    width: 70px;
}

.copy_right_footer
{
    position: fixed;
    width: 100%;
    background-color: gainsboro;
    bottom: 0;
    text-align: center;
    color: indianred;
    font-size: 25px;
    line-height: 3;
}